.footer {
    background: #0F0F0F;
    color: #fff;
    padding: 50px 0 66px 0;

    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    &__clients {
        margin:0 10px;
        a{
            position: relative;
            width: max-content;

            @media(any-hover:hover){
                &:hover{
                    color: #00965A;
                }
            }
        }

        a:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #00965A;
            transition: width 0.3s ease-out;
        }

        a:hover:after,
        a:focus:after {
            width: 100%;
        }
    }

    .btn-wrapper{
        position: relative;
        border:1px solid red;
        height: 100%;
    }

    &__go-back{
    }

    h5{
        font-size: 18px;
        font-weight: 400;
        line-height: 21 * 100% / 18;
        margin-bottom: 42px;
    }

    a{
        font-size: 16px;
        font-weight: 400;
        line-height: 19 * 100% /16;
        opacity: 0.7;
        color: #fff;
    }

    li:not(:first-child){
        margin-top: 20px;
    }

}

.first-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 10px 0 0;

    &__top {
        img{
            margin-bottom: 20px;
        }

        p{
            font-size: 14px;
            opacity: 0.7;
            line-height: 25 * 100% / 14;
            font-weight: 400;
        }

        p:last-child{
            margin-top: 20px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a{
            font-size: 14px;
            opacity: 0.7;
            line-height: 25 * 100% / 14;
            font-weight: 400;
            text-decoration: underline;
            cursor: pointer;
            position: relative;
        }
        
    }
}
.about-footer {
    display: flex;
    flex-direction: column;
    margin:0 10px;

    &__top {
        a{
            position: relative;
            width: max-content;
            
            @media(any-hover:hover){
                &:hover{
                    color: #00965A;
                }
            }
        }

        a:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #00965A;
            transition: width 0.3s ease-out;
        }

        a:hover:after,
        a:focus:after {
            width: 100%;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
        margin-top: auto;

        a{
            width: max-content;
            position: relative;

            @media(any-hover:hover){
                &:hover{
                    color: #00965A;
                }
            }
        }

        a:last-child{
            margin-top: 20px;
        }

        a:first-child{
            margin-bottom: 14px;
        }

        a:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #00965A;
            transition: width 0.3s ease-out;
        }

        a:hover:after,
        a:focus:after {
            width: 100%;
        }
    }
}
.contacts-footer {
    margin:0 10px;

    &__top {
        p{
            font-size: 16px;
            opacity: 0.7;
            line-height: 19 * 100% / 16;
            font-weight: 400;
            text-decoration: underline;
            cursor: pointer;
        }

        p:last-child{
            margin-top: 20px;
        }
    }

    &__bottom {
        margin-top: 55px;

        p{
            font-size: 16px;
            opacity: 0.7;
            line-height: 27 * 100% / 16;
            font-weight: 400;
        }
    }
}

span{
    text-decoration: underline;
    cursor: pointer;
}

@media(max-width: 1057px){
    .footer {
    
        &__clients {
            margin:0 10px;
            a{
                position: relative;
                width: max-content;
    
                @media(any-hover:hover){
                    &:hover{
                        color: #00965A;
                    }
                }
            }
    
            a:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                height: 1px;
                background-color: #00965A;
                transition: width 0.3s ease-out;
            }
    
            a:hover:after,
            a:focus:after {
                width: 100%;
            }
        }
    
        h5{
            font-size: 18px;
            font-weight: 400;
            line-height: 21 * 100% / 18;
            margin-bottom: 42px;
        }
    
        a{
            font-size: 16px;
            font-weight: 400;
            line-height: 19 * 100% /16;
            opacity: 0.7;
            color: #fff;
        }
    
        li:not(:first-child){
            margin-top: 20px;
        }
    
    }
    .contacts-footer {
        margin:40px 5px;
        width: 100%;
    }
}

@media(max-width: 816px){
    .footer {
    
        &__clients {
            margin:40px 0px;
            width: 60%;
        }
    
        h5{
            font-size: 18px;
            font-weight: 400;
            line-height: 21 * 100% / 18;
            margin-bottom: 42px;
        }
    
        a{
            font-size: 16px;
            font-weight: 400;
            line-height: 19 * 100% /16;
            opacity: 0.7;
            color: #fff;
        }
    
        li:not(:first-child){
            margin-top: 20px;
        }
    
    }
    .contacts-footer {
        margin:40px 5px;
        width: auto;
    }

    .footer__go-back{
        margin-top: 40px;
    }
}
@media(max-width: 559px){
    .about-footer{
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
    }
}