.header {
    &__wrapper {
        padding-top: 10px;
        transition: all 1.4s ease 0s;
        width: 100%;
        z-index: 100;
        background: url(../img/main-banner.png) no-repeat;
        background-position: center center;
        background-size: cover;
        padding-bottom: 225px;
    }

    &__body {
        transition: all 0.4s ease 0s;
        display: flex;
        align-items: center;
        min-height: 80px;
        position: relative;
    }

    &__main {
        display: flex;
        flex: 1 1 auto;
        align-items: center;

        .location{
            padding: 16px;
            position: relative;
            z-index: 601;
            border: 1px solid rgba(255, 255, 255, 0.14);
            border-radius: 6px;
            margin-left: 43 * 100% / 1920;
            transition: all 0.4s ease 0s;

            @media(any-hover: hover){
                &:hover{
                    background: #007445;
                    ;
                }
            }
        }  
    }
}

.mobile-actions{
    display: none;
}

.logo{
    position: relative;
    z-index: 601;
}

.menu {
    flex: 1 1 1398 * 100% / 1920;
    display: flex;
    justify-content: center;
    &__body {
        display: flex;
        @media (max-width: 1015px) {
            z-index: 600;
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: auto;
            top: 0;left: -100%;
            background: #000;
            transition: left 0.5s ease 0s;
            padding: 170px 15px 30px 15px;
            display: flex;
            flex-direction: column;

            &._active{
                left: 0;
            }
        }
    }

    &__list {
        @media(min-width: $md3+px){
            min-width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        
        &>li:not(:first-child){
            margin-left: 30px;
        }

        &>li:last-child:hover{
            text-decoration: underline;
        }
            @media(min-width: 1015px){
                &>li:hover{
                    .sub-menu__list{
                        display: block !important;
                    }
        
                    .hover-fix{
                        display: flex;
                        opacity: 1;
                        visibility: visible;
                    }
        
                    .more-arrow{
                        transform: rotate(180deg);
                    }
                }
            }

        .more-arrow{
            position: absolute;
            top: 50%; right: -10%;
            transition: all 0.2s ease 0s;
        }

        li{
            position: relative;
            transition: all 0.1s ease 0s;
        }


        .sub-menu__list{
            height: 55px;
            width: 470px;
            position: absolute;
            display: none;

            .hover-fix{
                display: none;
                flex-wrap: wrap;
                justify-content: space-around;
                position: absolute;
                left: 0; top: 20px;
                background:#151515;
                border-radius: 6px;
                width: 470px;
                padding: 30px;
            }

            li:not(:nth-child(-n+1)){
                margin-top: 20px;
            }

            li:hover{
                a{
                    color: #00965Aed;
                }
            }
        }
    }

    &__item {
        margin: 0 3px;
        padding: 5px 0;
    }

    &__link{
        font-weight: 400;
        line-height: 27 / 18 * 100%;
        font-size: 16px;
        color: #fff;
        transition: all 0.5s ease 0s;
    }
}


    .menu3 {
        display: none;
        @media (max-width: 1015px){
            z-index: 601;
            display: block;
            position: absolute;
            top: 30%;
            right: 0;
            .menu__btn {
                position: relative;
                display: block;
                height: 40px;
                width: 40px;
                border-radius: 0;
                transition: all 300ms ease;
            
                &:hover {
                    .menu__burger,
                    .menu__burger:before,
                    .menu__burger:after {
                        background: #fff;
                        transition: all 0.6s ease 0s;
                    }

                    .menu__exit:before,
                    .menu__exit:after {
                        background: #fff;
                        transition: all 0.6s ease 0s;
                    }
                }
            
                &.is-open {
                    .menu__burger {
                        opacity: 0;
                        transform: translateX(45px);
                    }
            
                    .menu__exit {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
            
            .menu__burger,
            .menu__burger:before,
            .menu__burger:after {
                display: block;
                content: '';
                width: 30px;
                height: 1px;
                background-color: #fff;
                position: absolute;
                transition: all 300ms ease;
            }
            
            .menu__burger {
                left: 9px;
                top: 16px;
                transform: translateX(0);
                opacity: 1;
            
                transition: opacity 300ms ease, transform 300ms ease;
            
                &:before {
                    top: -8px;
                }
            
                &:after {
                }
            }
            
            .menu__exit:before,
            .menu__exit:after {
                display: block;
                content: '';
                width: 30px;
                height: 1px;
                background-color: #fff;
                position: absolute;
            }
            
            .menu__exit {
                position: absolute;
                top: 16px;
                left: 7px;
                transform: translateX(-45px);
                opacity: 0;
            
                transition: opacity 300ms ease, transform 300ms ease;
            
                &:before {
                    transform: rotate(45deg);
                }
            
                &:after {
                    transform: rotate(-45deg);
                }
            } 
        }
    }  



.header-actions {
    justify-content: flex-end;
}

.actions-header {
    position: relative;
    z-index: 601;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
}

.actions-header__item_search{
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 6px;
    margin-left: 15px;
    transition: all 0.4s ease 0s;

    @media(any-hover: hover){
        &:hover{
            background: #007445;
            ;
        }
    }
}

.banner-header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 103px;

    &__text {
        flex: 1 1 auto;
    }

    &__title {
        max-width: 530px;
        h1{
            color: #fff;
            font-weight: 500;
            font-size: 56px;
            line-height: 84 * 100% / 56;
        }
    }

    &__subtitle {
        max-width: 482px;
        margin-top: 40px;
        p{
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            line-height: 30 * 100% / 18;
        }
    }

}
.numbers-header {
    flex: 0 1 23%;
    display: flex;
    flex-direction: column;

    &__container {
        padding: 44px 0 44px 50px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: linear-gradient(to right, #858585, #000000);
            z-index: 100;
            border-radius: 4px;
        }

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 1px;
            background: linear-gradient(to bottom, #858585, #000000);
            z-index: 100;
            border-radius: 4px;
        }
    }


    &__count {
        h2{
            color: #fff;
            font-weight: 400;
            font-size: 40px;
            line-height: 64 * 100% / 40;
        }
    }

    &__text {
        p{
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            line-height: 30 * 100% / 18;
        }
    }
}

.phone-menu{
    display: none;
}



@media(max-width: 1015px){
    .menu__list{
        display: none;
    }

    .header {
        &__wrapper {
            padding-top: 10px;
            padding-bottom: 40px;
        }
    
        &__main {
            display: flex;
            flex: 0 1 auto;
            align-items: center;
            margin-right: auto;

        }
    }
    
    .logo{
        position: relative;
    }
        
    
        &__item {
            margin: 0 3px;
            padding: 5px 0;
        }
    
        &__link{
            font-weight: 400;
            line-height: 27 / 18 * 100%;
            font-size: 16px;
            color: #fff;
            transition: all 0.5s ease 0s;
        }
        

    .header-actions {
        justify-content: flex-end;
    }
    
    .actions-header {
        position: relative;
        z-index: 601;
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        align-items: center;

        &__btn{
            display: none !important;
        }
    }
    
    .actions-header__item_search{
        padding: 10px;
        margin-left: 15px;
        order: 1;
        display: none;
    }
    
    .banner-header {
        display: flex;
        flex-wrap: wrap;
        margin-top: 103px;
    
        &__text {
            flex: 1 1 auto;
        }
    
        &__title {
            max-width: 530px;
            h1{
                color: #fff;
                font-weight: 500;
                font-size: 36px;
                line-height: 54 * 100% / 36;
            }
        }
    
        &__subtitle {
            margin-top: 30px;
            p{
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 26 * 100% / 16;
            }
        }
    
    }
    .numbers-header {
        flex: 0 1 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 120px;
    
        &__container {
            padding: 25px 30px 20px 30px;
            position: relative;
            flex: 1 1 33%;
    
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background: linear-gradient(to right, #858585, #000000);
                z-index: 100;
                border-radius: 4px;
            }
    
            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 1px;
                background: linear-gradient(to bottom, #858585, #000000);
                z-index: 100;
                border-radius: 4px;
            }
        }

        &__count {
            h2{
                color: #fff;
                font-weight: 400;
                font-size: 28px !important;
                line-height: 45 * 100% / 28;
            }
        }
    
        &__text {
            p{
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 27 * 100% / 16;
            }
        }
    }

    .location{
        display: none;
    }

    .actions-header{
        display: none;
    }

    .mobile-actions{
        justify-self: flex-end;
        flex: 0 1 auto;
        margin-right: 50px;
        display: block;
        align-items: center;
    }

    .mobile-location{
        padding: 10px;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.14);
        position: relative;
        z-index: 601;
        display: none;
    }

    .mobile-phone{
        padding: 10px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.14);
    }

    .icon_search{
        padding: 10px;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.14);
        position: relative;
        z-index: 601;
        display: none;
    }

    .phone-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

            &__list {
                display: flex;
                flex-direction: column;
            }

            &__item {
                padding: 20px 0;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                transition: all 0.2s ease 0s;
                cursor: pointer;

                &:hover{
                    border-top: 1px solid rgba(255, 255, 255, 0.4);
                }

                &:last-child{
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }
            }

            &__link {
                color: #fff;
                font-size: 16px;
                line-height: 19 * 100% / 16;
                font-weight: 400;
            }
    }

    .feedback {
        margin: 0 auto;
        margin-top: 60px;
        background: #00965A;
        color: #fff;
    }

    .sublist-menu{
        flex-direction: column;
        position: absolute;
        top: 50px; left: 0;
        padding-left: 20px;
        display: none;

        &__item{
            padding: 5px 0;
        }

        &__link{
            color: #fff;
            font-size: 16px;
            line-height: 19 * 100% / 16;
            font-weight: 400;
        }
    }
}

@media(max-width: 550px){
    .header {
        &__wrapper {
            padding-top: 10px;
            padding-bottom: 40px;
            background-position: center center;
            background-size: cover;
        }
    
        &__main {
            display: flex;
            flex: 0 1 auto;
            align-items: center;
            margin-right: auto;

        }
    }   

    .header-actions {
        justify-content: flex-end;
    }
    
    .actions-header {

        &__btn{
            display: none !important;
        }
    }
    
    .actions-header__item_search{
        padding: 10px;
        margin-left: 15px;
        order: 1;
        display: none;
    }
    
    .banner-header {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    
        &__text {
            flex: 1 1 auto;
        }
    
        &__title {
            max-width: 530px;
            h1{
                color: #fff;
                font-weight: 500;
                font-size: 32px;
                line-height: 48 * 100% / 32;
            }
        }
    
        &__subtitle {
            margin-top: 20px;
            p{
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 26 * 100% / 16;
            }
        }
    
    }
    .numbers-header {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    
        &__container {
            padding: 25px 30px 20px 30px;
            position: relative;
            flex: 1 1 33%;
    
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 1px;
                width: 0;
                background: linear-gradient(to right, #858585, #000000);
                z-index: 100;
                border-radius: 4px;
                display: none;
            }
    
            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 0;
                width: 1px;
                background: linear-gradient(to bottom, #858585, #000000);
                z-index: 100;
                border-radius: 4px;
                display: none;
            }
        }

        &__count {
            h2{
                color: #fff;
                font-weight: 400;
                font-size: 28px !important;
                line-height: 45 * 100% / 28;
            }
        }
    
        &__text {
            p{
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 27 * 100% / 16;
            }
        }
    }

    .location{
        display: none;
    }

    .actions-header{
        display: none;
    }

    .mobile-actions{
        justify-self: flex-end;
        flex: 0 1 auto;
        margin-right: 50px;
        display: block;
        align-items: center;
    }

    .mobile-location{
        padding: 10px;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.14);
        position: relative;
        z-index: 601;
        display: none;
    }

    .mobile-phone{
        padding: 10px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.14);
    }

    .icon_search{
        padding: 10px;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.14);
        position: relative;
        z-index: 601;
        display: none;
    }
}

