/* Слайдер */ 
.news-slider{
    min-width: 100%;
    position: relative;
} 

/* Слайдер запущен */ 
.slick-slider.slick-initialized{} 
 
 /* Слайдер с точками */ 
.slick-slider.slick-dotted{}	

/* Ограничивающая оболочка */ 
.slick-list {
    overflow: hidden;
    margin: 0 -15px 0 -15px;
} 

/* Лента слайдов */ 
.slick-track{
    display: flex;
    min-width: 100%;
}

/* Слайд */ 
.slick-slide{
}

/* Слайд активный (показывается) */ 
.slick-slide.slick-active{
}

/* Слайд основной */ 
.slick-slide.slick-current{}

/* Слайд по центру */ 
.slick-slide.slick-center{
}

/* Клонированный слайд */ 
.slick-slide.slick-cloned{}
/* Стрелка */ 
.slick-arrow{
    border: none;
    font-size: 0;
}

/* Стрелка влево */ 
.slick-arrow.slick-prev{
    background: url(../img/arrow-prev.svg) no-repeat;
    background-size: auto;
    background-position: center center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    bottom: -15px;
    z-index: 50;
    transition: all 0.3s ease 0s;

    @media(min-width: 1015px){
        &:hover{
            background: #007445;
            transform: scale(1.5);
        }
    }
}

/* Стрелка вправо */ 
.slick-arrow.slick-next{
    background: url(../img/arrow-prev.svg) no-repeat;
    background-size: auto;
    background-position: center center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -14px;
    z-index: 50;
    transform: rotate(180deg);
    transition: all 0.3s ease 0s;

    @media(min-width: 1015px){
        &:hover{
            background: #007445;
            transform: scale(1.5);
        }
    }
}

/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}

/* Точки (булиты) */ 
.slick-dots{
    display: flex;
    max-width: 90%;
    margin-top: 60px;
}

.slick-dots li{
    width: 100%;
    transition: all 0.4s ease 0s;
}

/* Активная точка */ 
.slick-dots li.slick-active button{
    background: #007445;
    transition: all 0.4s ease 0s;
}

/* Элемент точки */ 
.slick-dots li button{
    height: 2px;
    outline: none;
    border: none;
    width: 40px;
    font-size: 0;
    width: 100%;
    transition: all 0.2s ease 0s;
} 


@media (max-width: 861px){
    .slick-arrow.slick-prev{
        bottom: -40px;
    }

    .slick-arrow.slick-next{
        bottom: -41px;
    }

    .slick-dots{
        min-width: 100%;
    }
}


