$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1720;
$md1: $maxWidthContainer + 12 !global;
$md2: 991.98;
$md3: 767.98 !global;
$md4: 479.98;

@import "null.scss";
@import "fonts.scss";
@import "footer.scss";
@import "header.scss";
@import "news.scss";
@import "slider.scss";
@import "about.scss";
@import "objects.scss";
@import "suppliers.scss";
@import "icons.scss";

body {
    font-family: Qanelas;
}

.container{
    max-width: $maxWidthContainer * 100% / 1920;
    margin: 0 auto;
    padding: 0 15px;
}

._anim-show{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.anim-show._active,
._active ._anim-show{
    transform: translate(0px, 0px);
    opacity: 1;
}

.title{
    h1{
        color:#000;
        font-size: 50px;
        font-weight: 500;
    }

    h2{
        color:#000;
        font-size: 40px;
        font-weight: 500;
    }
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease 0s;
    min-height: 50px;
    border-radius: 6px;
    min-width: 197px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    line-height: 19 /16 * 100%;

    @media(any-hover: hover){
        &:hover{
            background: #007445;
            color: #fff !important;
        }
    }
}

.search-bot{
    transition: all 0.4s ease 0s;
}

@media(max-width: 991px){
    .container{
        max-width: 1720px;
        padding: 0 30px;
    }
}

@media(max-width: 550px){
    .container{
        max-width: 1720px;
        padding: 0 15px;
    }
}

